<div style="padding-top:25px; padding-left: 50px;">
	<div style="text-align: center; font-size: 40px; padding-bottom: 20px">Welcome on board!</div>

	<div style="font-size: 20px;padding-bottom: 20px"> If it's your first time go to <a asp-controller="Documentation" asp-action="Version" class="loader">Documentation</a> and learn someting about your bot</div>
	<div style="font-size: 20px;padding-bottom: 20px"> <b>Remember!</b> You have to go <a asp-controller="User" asp-action="Settings" class="loader">Settings</a> and setup your profile and your bot</div>
	<div style="font-size: 20px;padding-bottom: 20px">Enjoy! :)</div>
</div>