@model Her.ViewModel.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/dist/css/AdminLTE.min.css" rel="stylesheet" />
	<link href="~/plugins/iCheck/square/blue.css" rel="stylesheet" />
</head>
<body style="background:#d2d6de">
	<div class="register-box">
		<div class="register-logo">
			<a href="../../index2.html"><b>Her</b>bot</a>
		</div>

		<div class="register-box-body">
			<p class="login-box-msg">Register a new membership</p>

			<form class="contact100-form validate-form" asp-action="Register" method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group has-feedback">
					<input type="text" class="form-control" name="Username" placeholder="UserName">
					<span class="glyphicon glyphicon-user form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="email" class="form-control" name="Email" placeholder="Email">
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" name="Password" placeholder="Password">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" name="ConfirmPassword" placeholder="Retype password">
					<span class="glyphicon glyphicon-log-in form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-8">
					</div>
					<!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
					</div>
					<!-- /.col -->
				</div>
			</form>

			<a asp-controller="Account" asp-action="Login" class="text-center">I already have a membership</a>
		</div>
	</div>

</body>
</html>
